body,html {
    height:100%;
}

body {
  background-color: #121517;
  color: #ffffff;
}

#current-date,#thirteen {
  color:#FF0000;
}

.center {
  text-align: center;
}

.result {
  font-size: 76px;
  font-weight: bolder;
}
