body,html {
    height:100%;
    font-size: 1.8em;
    font-family: "Bebas Neue";
}

body {
  background-color: #121517;
  color: #ffffff;
}

#current-date,#thirteen {
  color:#FF0000;
}

#current-date {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.result {
  font-size: 5em;
  font-weight: bolder;
}
